<!DOCTYPE html>
<html>

<head>
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NODOMON</title>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="flex-column min-100-vh">
  <header class="hero">
  </header>
  <nav class="navbar">
    <ul>
      <li class="li-inline nav-item"><h1 class="app-title"><a href="/">NODOMON-CHOICE-RPG</a></h1></li>
      <li class="li-inline nav-item"><a href="/">Home</a></li>
      <li class="li-inline nav-item"><a href="/sign up">sign up</a></li>
      <li class="li-inline nav-item"><a href="/login">Login</a></li>
      <li class="li-inline nav-item"><a href="/adventure">adventure</a></li>
      <li class="li-inline nav-item"><a href="/change character">change character</a></li>

      <li class="li-inline nav-item"><a href="#" id="logout-link">Logout</a></li>
    </ul>
  </nav>

  <main class="col-auto">
    {{{body}}}
  </main>

  <footer class="flex-row justify-center">
    &copy; Monodomon-Choice-RPG
  </footer>
</body>

</html>
<script src="/js/logout.js"></script>
