<!-- adventure.handlebars -->
 <h1>Adventure</h1>
 {{!-- set image with link to public folder which changes based on active name --}}
 {{!-- selected text depending on active donomon --}}
  
  {{!-- drop down to select active donomon --}}
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Choose active donomon
    </button>
    <ul class="dropdown-menu donomonSelection" aria-labelledby="dropdownMenuButton1">
      {{#each donomons}}
        <li><a class="dropdown-item donomonSelect" href="#" data-id="{{id}}">{{donomontype.name}} - {{level}}</a></li>
      {{/each}}
    </ul>
  </div>
            <h2>QUESTION</h2>
            {{!-- get questions from question-routes
            and all of the associated answers --}}
            <div class="question">
                <h2 id="questionText"></h2>
                <div id="answersText">
                        <button id="answer1"></button>
                        <button id="answer2"></button>
                        <button id="answer3"></button>
                        <button id="answer4"></button>
                </div>
            </div>    

{{!-- Empty rectangle for world chat using WebSocket using bootstrap --}}
<div class="chat">
    <div class="chat-header">
        <h2>World Chat</h2>
    </div>
    <div class="chat-body">
        <div class="chat-messages">
            <div class="chat-message">
                <p>Message</p>
            </div>
        </div>
        <div class="chat-input">
            <input type="text" placeholder="Type a message">
            <button class="btn">Send</button>
        </div>
    </div>




<script src="./js/adventure.js"></script>