<section class='container text-center'>
    <h1>DONOMON</h1>
    <section class='flex-column'>
        <h2 class='row px-4 text-center'>WELCOME ADVENTURER!</h2>
        <img
            src='/images/nodomon/Raskat.png'
            alt='raskat'
            class='d-flex justify-content-start'
        />
        <section class='d-flex flex-column text-sizing'>
            <p class='row px-4 text-center d-flex justify-content-end'>In the
                world of Donomon, you can venture out with your very own
                Donomons!</p>
            <p class='row px-4 text-center d-flex justify-content-end'>You can
                choose from a variety of Donomons to be your partner and venture
                out into the world!</p>
        </section>
        <img
            src='/images/nodomon/Turbulin.png'
            alt='Turbulin'
            class='d-flex justify-content-start'
        />
        <section class='d-flex flex-column text-sizing'>
            <p class='row px-4 text-center d-flex justify-content-end'>Answer
                questions to level up your Donomon!</p>
            <p class='row px-4 text-center d-flex justify-content-end'>The more
                questions you answer, the more your Donomon will level up! How
                exciting!</p>
        </section>
        <img
            src='/images/nodomon/Snoober.png'
            alt='snoober'
            class='d-flex justify-content-start'
        />
        <section class='d-flex flex-column text-sizing'>
            <p class='row px-4 text-center d-flex justify-content-end'>Your
                choices will determine your partner's growth, so choose
                carefully!</p>
            <p class='row px-4 text-center d-flex justify-content-end'>What
                Donomons will you catch?</p>
        </section>
    </section>
</section>