<section class="container text-center">
<h1>DONOMON</h1>
<section>
<h2 class="row px-4 text-center">WELCOME ADVENTURER!</h2>
<p class="row px-4 text-center">In the world of Donomon, you can venture out with your very own
    Donomons!</p>
<p class="row px-4 text-center">You can choose from a variety of Donomons to be your partner and venture
    out into the world!</p>
<p class="row px-4 text-center">Answer questions to level up your Donomon!</p>
<p class="row px-4 text-center">The more questions you answer, the more your Donomon will level up! How exciting!</p>
<p class="row px-4 text-center">Your choices will determine your partner's growth, so choose carefully!</p>
<p class="row px-4 text-center">What Donomons will you catch?</p>
</section>
</section>

