<section class="container text-center">
<h1>DONOMON</h1>
<section>
<h2 class="row px-4 text-center">WELCOME ADVENTURER!</h2>
<p class="row px-4 text-center">In the world of Donomon, you can venture out with your very own
    Donomons! By answering questions, you can evolve your Donomon and
    based on your choices, you can get different Donomons!</p>
<p class="row px-4 text-center">What Donomons will you catch?</p>
</section>
</section>

